.places {
  max-width: 984px;
  margin: 0 148px;
}

@media screen and (max-width: 1220px) {
  .places {
    margin: 0 80px;
  }
}

@media screen and (max-width: 1090px) {
    .places {
      margin: 0 48px;
    }
  }

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}
