.header {
  display: flex;
  max-width: 1184px;
  margin: 28px 48px 52px 48px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 288px;
    margin: 16px 16px 48px 16px;
  }
}
