.footer__copyright {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}
